<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>user-profile</title>
  <link
      rel="stylesheet"
      href="../static/css/user-profile.css"
   />
  
</head>
<header></header>
<body>
  <div class="title"> CREATE USER PROFILE</div>
  <div>
    <img  class="icon" src="../static/img/6123.png">
  </div>

  <div>  
    <a href="" class="img-button">setting</a>
  </div>

  <div class="name">name</div>
  <input type="text" class="name-txt"></input>

  <div class="introduce">introduce</div>
  <input type="text" class="introduce-text"></input>

  <div>  
    <a href="" class="profile-button">regist</a>
  </div>

  
</body>
</html>
